
body{
    margin: 30px;
}

.box {
    background-color: rgb(8, 61, 152);
    height: 200px;
    width: 200px;
}

.box:hover {
    background-color: rgb(226, 43, 217);
}

.box2 {
    background-color: rgb(8, 152, 49);
    height: 200px;
    width: 200px;

    transition-property: background-color; 
    transition-timing-function: ease-in;
    transition-delay: 2s;
}

.box2:hover {
    background-color: rgb(226, 43, 43);
    border-radius: 50%;
}

.box3 {
    background-color: rgb(170, 13, 13);
    height: 200px;
    width: 200px;

    transition-property: background-color, border-radius ;
    transition-duration: 1s, 1.2s;
    
}

.box3:hover {
    background-color: rgb(255, 230, 7);
    border-radius: 50%;
}

.box4 {
    background-color: rgb(111, 28, 219);
    height: 200px;
    width: 200px;
    transition: width 0.5s, height 0.5s;
}

.box4:hover {
    background-color: rgb(255, 94, 7);
    width: 300px; 
    height: 300px;
}

.box5 {
    background-color: rgb(28, 162, 219);
    height: 200px;
    width: 200px;
    transition:width 0.5s;
}

.box5:hover {
    width:50px;
}

